<h1><%= @book.name %></h1>
<ul>
	<li><%= @book.description %></li>
	<li><h2><%= @book.price %> €</h2></li>
	<li><h3>Rating: <%= @book.rating %> - Times rated: <%= @book.times_rated %></h3></li>
</ul>
<p><%= link_to('Back', books_path) %></p>