<%= form_for [@user] do |f|%>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :age %>
	<%= f.text_field :age %>
	<br>
	<%= f.label :pet %>
	<%= f.text_field :pet %>
	<br>
	<%= f.label :food %>
	<%= f.text_field :food %>
	<br>
	<%= f.label :program %>
	<%= f.text_field :program %>
	<br>

	<%= f.submit 'Save' %>
<% end %>

<li><strong><%= link_to('Home', users_path) %></strong></li>