<%= form_for @laptop do |f| %>
  <p>
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </p>

  <p>
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </p>

  <p>
    <%= f.label :processorBrand %><br>
    <%= f.text_field :processorBrand %>
  </p>

  <p>
   <%= f.label :ramSize %><br>
   <%= f.text_field :ramSize %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p>
  <%= link_to 'Back', laptops_path %>
</p>
