<nav class="nav primary-nav">
	<ul>
		<li><a><%= link_to 'Home', concerts_path %></a></li><!--
		--><li><a><%= link_to 'New concert', new_concert_path %></a></li><!--
		--><li><a><%= link_to 'Popular concerts', popularConcerts_path %></a></li><!--
		--><li><a><%= link_to 'All concerts', allConcerts_path %></a></li>
	</ul>
</nav>

<h1>Popular concerts</h1>

<h2>(Ordered by likes)</h2>

<% @concerts.each do |concert| %>
<div class="acceder-a-conciertos">
<a><%= link_to concert.bandName, concert_path(concert) %></a> <%= concert.totalLikes %> likes
</div>
<% end %>

<footer>Crafted with &hearts; by Alejo, Ivan, Irene y Juan Carlos</footer>